@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'system-ui', serif;
  color: rgb(26, 26, 26);
  background: linear-gradient(
    106.7deg,
    rgb(245, 167, 191) -6.2%,
    rgb(201, 218, 238) 46.4%,
    rgb(164, 240, 229) 86.4%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

img {
  width: 200px;
}

@font-face {
  font-family: 'yummy';
  src: url('/fonts/yummy.ttf');
}
