@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  /* background: linear-gradient(to bottom, #FFB6C1, #87CEFA); */
  background: linear-gradient(106.7deg, rgb(245, 167, 191) -6.2%, rgb(201, 218, 238) 46.4%, rgb(164, 240, 229) 86.4%);
}

* {
  font-family: 'Nanum Myeongjo', serif;
}

